/* --------global ------------ */
:root {
  --primary-color: #ffa7c4;
}

button {
  border: none;
  height: 40px;
  border-radius: 12px;
  font-size: 18px;
  margin: 0 10px;
  background-color: #ffa7c4;
  color: rgb(61, 20, 99);
  padding: 4px 12px;
  outline: none;
  border: 2px solid #ffa7c4;
}
button:active,
button:hover {
  border: 2px solid #ffa7c4;
  background-color: #282c35;
  color: #ffa7c4;
}
.flat-input {
  border: none;
  border-bottom: 2px solid #ffa7c4;
  height: 30px;
  font-size: 24px;
  outline: none;
  padding: 4px 8px;
}
.round-input {
  border: 2px solid #ffa7c4;
  padding: 4px 8px;
  margin: 10px;
  height: 30px;
  font-size: 24px;
  border-radius: 20px;
}
.error {
  color: rgb(224, 62, 50);
}

/* ----------navbar ------ */
.nav {
  height: 64px;
  background-color: #ffa7c4;
}
.navWrapper {
  width: 80%;
  display: flex;
  height: 100%;
  vertical-align: center;
  margin: auto;
  align-items: center;
}
.header {
  flex: 1;
}
.header a,
.navIcon a {
  text-decoration: none;
  color: #282c35;
}

.header a {
  font-size: 24px;
}
.navIcon a {
  font-size: 18px;
}

.navIcons {
  flex: 1;
  display: block;
  right: 0px;
  text-align: right;
}

.navIcon {
  display: inline;
  margin: 0px 15px;
}

/* -----------dashboard------------ */
.wrapper {
  width: 90%;
  margin: 30px auto;
  /* background-color: azure; */
}
.add-item {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.add-item input {
  width: 80%;
}

/* --------- showcase------- */
.showcase {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2%;
  padding-bottom: 150px;
}

.showcase-item {
  position: relative;
  cursor: pointer;
}
.showcase-item img {
  height: 300px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
}
.showcase-item:hover .img-highlight {
  opacity: 1;
}
.img-highlight {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: calc(100% - 16px);
  background-color: #ffa7c4;
  color: #282c35;
  padding: 8px;
  display: flex;
  align-items: center;
  transition: all 1s cubic-bezier(0, 0.71, 0, 1.01) 0.15s;
}

.img-detail {
  flex: 1;
}

.img-deatil .img-name {
  font-size: 22px;
  font-weight: 500;
}
.img-deatil .img-author {
  font-size: 14px;
  font-weight: 400;
}

.img-like {
  flex: 1;
  text-align: right;
}

/* ----------not found--------- */
.notFound a {
  text-decoration: none;
}

/* ----------Modal----------- */
.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282c35b6;
}

.modal-main {
  border-radius: 20px;
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* -------------addItems----------------- */
.add-item-form {
  text-align: center;
  width: 100%;
  margin: auto;
}
.add-item-form input {
  border: none;
  border-bottom: 2px solid #ffa7c4;
  height: 30px;
  font-size: 24px;
  outline: none;
  padding: 4px 8px;
}
.add-item-form input {
  margin: 0px auto 30px auto;
  display: flex;
  justify-content: center;
}

.add-button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* -------Item Detail ----------- */
.item-detail {
  padding: 20px;
}
.item-img {
  position: relative;
}
.item-img img {
  max-height: 500px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.img-helper {
  position: absolute;
  bottom: 10px;
  right: 0px;
  color: #282c35;
  padding: 8px;
  /* display: flex; */
  color: white;
  align-items: center;
  transition: all 1s cubic-bezier(0, 0.71, 0, 1.01) 0.15s;
}
.img-overview {
  display: flex;
  align-items: center;
  background-color: #ffa7c4;
  padding: 8px;
  flex-wrap: wrap;
}

/* ------------pagiantion--------------- */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination button {
  margin: 1px;
}

.img-like {
  cursor: pointer;
}

/* -------Media Queries ------------- */
@media screen and (min-width: 500px) {
  .showcase {
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
  }
  .wrapper {
    width: 80%;
  }
  .add-item input {
    width: auto;
  }
  .item-detail {
    padding: 20px 40px;
  }
}

@media screen and (min-width: 900px) {
  .showcase {
    grid-template-columns: 31% 31% 31%;
    grid-gap: 3%;
  }
  .wrapper {
    width: 70%;
  }
  .item-detail {
    padding: 30px 20%;
  }
}
